@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Outfit:wght@300;500;600&display=swap');

.card {
  width: 100%;
  background: #FFFFFF;
  border-radius: 24px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05) !important;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: none;
}

.card:hover {
  /* transform: translateY(-5px); */
  box-shadow: 0px 6px 24px rgba(245, 88, 30, 0.1) !important;
}

.card-image-container {
  position: relative;
  width: calc(100% - 48px);
  margin: 24px auto 0;
  padding-top: 60%;
  /* 3:5 aspect ratio */
  overflow: hidden;
  border-radius: 16px;
  background: #FFF3ED;
}

.card-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 16px;
}

.card:hover .card-image-container img {
  transform: scale(1.03);
}

.card-content {
  padding: 24px;
  flex: 1;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
  border-bottom:none;
  background: transparent;
  padding-left: 0px;
  padding-bottom: 0px;
}

.curly-brace {
  font-family: 'Manrope', sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: #F5581E;
}

.card-category {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #272727;
  margin: 0;
}

.card-title {
  font-family: 'Outfit', sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.3;
  color: #0E1015;
  margin: 12px 0 16px;
  text-align: left;
}

.card-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 12px;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: rgba(39, 39, 39, 0.7);
}

.dot {
  width: 5px;
  height: 5px;
  background: #D9D9D9;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
    border-radius: 20px;
    background: #fff !important;
    box-shadow: none !important;
  }

  .card-image-container {
    width: calc(100% - 32px);
    margin: 16px auto 0;
    padding-top: 70%;
    /* Slightly taller aspect ratio for mobile */
  }

  .card-content {
    padding: 20px;
  }

  .card-title {
    font-size: 22px;
  }

  .card-tags {
    font-size: 14px;
  }
}