.grid-body {
  background: #F9F9F9;
  padding: 2% 0%;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  padding: 20px;
}

@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr;
    padding: 0px;
  }

  .grid-body {
    background: #fff;
  }

}

.view-more-button-c {
  width: 240px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 15px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: #1a1a1a;
  cursor: pointer;
  padding-left: 41px;
  border-radius: 30px;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); 
  will-change: transform, background-color, box-shadow, color; 
}

.view-more-button-c .text {
  transition: color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.view-more-button-c:hover {
  background-color: #F5581E;
  box-shadow: 0px 4px 10px rgba(225, 91, 45, 0.4);
  color: white;
}

.arrow-circle-c {
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background: #0E1015;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform, background-color;
  backface-visibility: hidden; 
  transform-style: preserve-3d;
}

.view-more-button-c:hover .arrow-circle-c {
  transform: rotate(45deg);
  background-color: white;
  color: #1a1a1a;
}

.arrow-icon-c {
  width: 22px;
  height: 22px;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform, color;
}

.view-more-button-c:hover .arrow-icon-c {
  color: #1a1a1a;
}