.footer {
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 50px 20px;
    position: relative;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.footer-content {
    display: flex;
    align-items: center;
    animation: slideIn 1s ease-in-out;
    justify-content: space-between;
    gap: 14%;
    padding-top: 5%;
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.footer-text h1 {
    font-family: 'Urbanist', sans-serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 64px;
    text-align: left;
    max-width: 600px;
}

.footer-text p {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 25px;
    text-align: left;
    font-weight: 500;
    line-height: 30px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 7%;
    gap: 13px;
}

.email-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.email-icon {
    background-color: #201F1F;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-icon img {
    width: 34px;
    height: 34px;
}

.email-link {
    font-size: 26px;
    text-decoration: underline;
    color: white;
}

.copy-button {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    background: none;
    border: none;
    color: white;
    padding: 0px 21px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    gap: 11px;
    cursor: pointer;
    width: 240px;
    height: 60px;
    transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.copy-button:hover {
    background-color: #F5581E;
    box-shadow: 0px 10.29px 34.29px 0px #F5581E52;
}

.copy-icon {
    font-size: 20px;
    width: 40px;
    height: 40px;
    background: #201F1F;
    border-radius: 50%;
    padding: 1px;
    position: relative;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.4s ease-in-out;
}

.reg-copy-icon {
    color: white;
    transition: color 0.4s ease-in-out;
}

.copy-button:hover .copy-icon {
    background: white;
}

.copy-button:hover .reg-copy-icon {
    color: black;
}

.footer-line {
    width: 80%;
    margin: 40px auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 90px;
}

.footer-rights {
    font-size: 16px;
    color: #5A5A5A;
}

.star-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.tooltip {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    top: 39%;
    left: 80%;
    transform: translateX(-50%);
    transition: opacity 0.3s;
    opacity: 1;
}

.dot-svg {
    width: 15px;
    position: relative;
    top: 10px;
    color: #f4581e;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .footer-content {
        gap: 8%;
    }
    
    .footer-text h1 {
        font-size: 48px;
        line-height: 54px;
    }
    
    .footer-text p {
        font-size: 20px;
    }
    
    .email-link {
        font-size: 22px;
    }
}

@media (max-width: 992px) {
    .footer-content {
        flex-wrap: wrap;
        text-align: left;
        gap: 25px;
    }
    
    .footer-text {
        text-align: left !important;
    }
    
    .footer-text h1 {
        text-align: left !important;
        font-size: 42px;
        line-height: 48px;
        max-width: 100%;
    }
    
    .footer-text p {
        text-align: left !important;
        font-size: 25px;
    }
    
    .footer-contact {
        align-items: left;
        margin-bottom: 0;
    }
    
    .email-link {
        font-size: 20px;
    }
    
    .star-icon {
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    .tooltip {
        top: 50%;
        left: 50%;
    }
}

@media (max-width: 768px) {

    .footer-text h1 {
        font-size: 38px;
        line-height: 44px;
    }
    
    .email-section {
        gap: 10px;
    }
    
    .email-link {
        font-size: 18px;
        overflow-wrap: anywhere;
    }
    
}

@media (max-width: 576px) {
    .footer {
        padding: 40px 15px;
    }
    
    .footer-text h1 {
        font-size: 38px;
        line-height: 44px;
    }
    
    .footer-text p {
        font-size: 20px;
        line-height: 24px;
        margin-top: 35px;
    }
    
    .email-icon {
        width: 62px;
        height: 62px;
    }
    
    .email-icon img {
        width: 38px;
        height: 38px;
    }

}

@media (max-width: 400px) {
    .footer-text h1 {
        font-size: 38px;
        line-height: 44px;
    }
    
    .email-link {
        font-size: 16px;
        word-break: break-all;
        text-align: center;
    }
    
    .copy-button {
        width: 214px;
        height: 60px;
        font-size: 14px;
    }
}