.section-display {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    align-items: center;
  }
  
  .section-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
 }
  
  .section-heading {
    width: 1170px;
    height: 32px;
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: #121624;
    text-align: left;
    margin: 0;
  }
  
  .section-image {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
  }
  