.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: #0e1015;
  padding: 10px 0;
  height: auto;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.scroll-content {
  display: inline-flex;
  gap: 20px;
  animation: scroll 40s linear infinite;
}

.scroll-item {
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 20px;
}

.scroll-icon {
  width: 16px;
  height: 16px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Responsive Styles */
@media (min-width: 768px) {
  .scroll-container {
    height: 93px;
    padding: 15px 0;
  }
  
  .scroll-content {
    gap: 40px;
  }
  
  .scroll-item {
    font-size: 32px;
    gap: 40px;
  }
  
  .scroll-icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 576px) {
  .scroll-item {
    font-size: 24px !important ;
    gap: 15px !important;
  }
  
  .scroll-icon {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 400px) {
  .scroll-item {
    font-size: 16px;
    gap: 10px;
  }
  
  .scroll-icon {
    width: 12px;
    height: 12px;
  }
}