.App {
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #F9F9F9;
  overscroll-behavior: none !important;
}

/* src/layouts/MainLayout.css */
.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: none !important;
  background: #FFFFFF;
}

.main-content {
  flex: 1;
}

.app-header {
  background: #333;
  color: white;
  padding: 1rem;
}

.app-header nav {
  display: flex;
  gap: 1rem;
}

.app-header a {
  color: white;
  text-decoration: none;
}

.app-footer {
  background: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}